<app-nav></app-nav>

<div class="container scrollable-child uShadow" style="position: relative;">
    <!-- <button class="btn btn-info" (click)="routeToSubscriptions()"  *ngIf="userService.verificationStatus == 1">Subscriptions</button>
    <button class="btn btn-info" (click)="routeToBrands()"  *ngIf="userService.verificationStatus == 1">Brands</button> -->

    <div *ngIf="userActive.value" class="form">

        <div class="sShadow" *ngIf="userService.currentUser.emailVerified">
            <div *ngIf="userService.verificationStatus == 1">
            <div class="profileContainer">
                <img class="profilePic" src="{{userService.profilePic}}">
            </div>
            <button class="btn btn-info" (click)="onShowGallery(true)">Update Profile Pic</button>

            <!--Has the User been fully verified by TrecApps staff?-->
            <h2 >UserVerified</h2>

        </div>

        <div *ngIf="userService.verificationStatus != 1" style="padding: 5px;">
            <h3>Verification Steps</h3>

            <p>In order to take full advantage of what TrecApps has to offer (Image posting, Social Media Profile Creation, etc.), you will need to be fully verified. 
                Since this is a test site, verification requires contacting the owner of the site (Assuming you know him personally).</p>
            
            <p>Your account id is "{{ userService.currentUser.id }}". Letting him know this can help him verify you.</p>

        </div>
            <!-- <button class="btn btn-submit" *ngIf="userService.verificationStatus == 0" (click)="requestVerification()">Request Verification</button>
            <div *ngIf="userService.verificationStatus == -1">
                <h6>Select a Photo TrecApps Administrators can use to verify your Identity</h6>
                <input style="display: none" type="file" (change)="onVerifyFileChanged($event)" #fileInput>
                <button class="btn btn-info" (click)="fileInput.click()">Select Verification Pic</button>
                <button class="btn btn-submit" (click)="uploadVerfiyPic()" *ngIf="selectedVerfiyFile && selectedVerifyFileType">Upload Verify Pic</button><br>
            </div> -->
        </div>
        <div class="sShadow" *ngIf="!userService.currentUser.emailVerified" class="textBackground">
            <p>Welcome to TrecApps. To begin using our services in earnest, we need to ensure you are who you say you are.</p>
            <p>The process is short and is as follows:</p>
            <ol>
                <li>Verify Your Email (after that, you can set a Profile Picture)</li>
                <li>Request Verification.</li>
                <li>Upload Proof of Identity. These are pictures that our employees will use to validate your Identity. Only they (and you) will have access to them!</li>
            </ol>
            <p>Once you are verified, you can perform tasks such as</p>
            <ul>
                <li>Create Brand Accounts that you can use in most services</li>
                <li>Set up Subscriptions</li>
                <li>Upload pictures of your recent trip to Hawaii</li>
            </ul>
        </div>

        <br>

        <div class="sShadow">
            <h2>User Details</h2>
            <div class="mb-3">
                <label class="form-label">User ID: </label>
                <input class="form-control" type="text" [(ngModel)]="userService.currentUser.id" readonly>
            </div>
            
            <div class="mb-3">
                <label class="form-label">Username: </label>
                <input class="form-control" type="text" [(ngModel)]="userService.currentUser.userProfile" readonly>
            </div>
            <!-- <label>Country Code: +</label>
            <input type="number"  -->
            <div class="mb-3">
                <label class="form-label">Mobile Phone: (Right now, US +1 is assumed, as it is the only one currently supported)</label>
                <input class="form-control" type="number" *ngIf="userService.currentUser.mobilePhone" [(ngModel)]="userService.currentUser.mobilePhone.number" >
                <!-- <button *ngIf="!userService?.currentUser?.phoneVerified" (click)="attemptPhoneVerification()" class="btn btn-info">Verify Phone</button> -->
                 <p class="text-danger">Phone Verification is Currently disabled!</p>
            </div>
            <div class="mb-3">
                <label class="form-label">Email: </label>
                <input class="form-control" type="email" [(ngModel)]="userService.currentUser.email"> 
                <button *ngIf="!userService.currentUser.emailVerified" (click)="attemptEmailVerification()" class="btn btn-info">Verify Email</button>
            </div>
            <div class="mb-3">
                <label class="form-label">Birthday:</label>
                <input class="form-control" type="date" [(ngModenpm l)]="userService.currentUser.birthday" readonly>
            </div>
            <div class="mb-3">
                <label class="form-label">Birthday Privacy: {{ currentBirthdayDetail }}</label>
                <select class="form-select" [(ngModel)]="currentBirthdayDetail">
                    <option *ngFor="let birthOpt of birthdayDetails" [value]="birthOpt.setting">{{birthOpt.details}}</option>
                </select>
            </div>

            <div class="mb-3">
                <label class="form-label">Account Restrictions: </label>
                <input class="form-control" type="text" [(ngModel)]="userService.currentUser.restrictions" readonly>
            </div>

            <div class="mb-3">
                <label class="form-label">Credibility Rating: </label>
                <input class="form-control" type="number" [(ngModel)]="userService.currentUser.credibilityRating" readonly>
            </div>
            <hr>
            
            <div class="mb-3">
                <button class="btn btn-submit fButton" (click)="updateUser()">Update Details</button>
                <button class="btn btn-submit fButton">Go to Brand Menu</button><!--  -->
            </div>

            <button class="btn btn-submit fButton" (click)="setChangePassword(true)">Change Password Menu</button>
            <br>

            <div *ngIf="changePassword" class="mb-3">
                <label class="form-label">Current Password: </label>
                <input class="form-control" type="password" [(ngModel)]="oldPassword"><br>
            </div>
            
            <div *ngIf="changePassword" class="mb-3">
                <label *ngIf="changePassword" class="form-label">New Password: </label>
                <input *ngIf="changePassword" class="form-control" type="password" [(ngModel)]="newPassword1">
            </div>

            <div *ngIf="changePassword" class="mb-3">
                <label *ngIf="changePassword" class="form-label">Re-enter New Password: </label>
                <input *ngIf="changePassword" class="form-control" type="password" [(ngModel)]="newPassword2">
            </div>
            <hr>

            <button *ngIf="changePassword" class="btn btn-submit fButton" (click)="updatePassword()" >Update Password</button>
        </div>

        <br>
        
    </div>
    <lib-image-gallery #imgGallery (useImage)="setProfilePic($event)" [appName]="'Main'" [executeMessage]="'Set Profile Pic'"></lib-image-gallery>
    
</div>
