<app-nav></app-nav>

<div class="container" appElementContainer>

  @if (dedicatedBrand && dedicatedBrand.id) {
    <div appElementItem>
      <div class="brand-container">
        <div class="brand-profile-side">
          <div class="brand-profile-holder">
            <img [src]="baseUrlImage + 'Images/profile/Brand-' + dedicatedBrand.id" (error)="imageError($event)">
          </div>
          <button class="btn btn-primary" style="margin-top: 10px;" (click)="prepareBrandProfile(dedicatedBrand)">Set Profile Pic</button>
        </div>
        <div class="brand-details-side">
          @if (editingBrandId != dedicatedBrand?.id) {
            <div>
              <p><b>Name: </b>{{ dedicatedBrand.name }}</p>
              <button class="btn btn-primary" (click)="editingBrandId = dedicatedBrand.id; editingBrandName = dedicatedBrand.name || ''">Edit Name</button>
            </div>
          }
          @if (editingBrandId && editingBrandId == dedicatedBrand?.id) {
            <div class="form-group">
              <label class="form-label">Name</label>
              <input class="form-control" [(ngModel)]="editingBrandName">
              <button class="btn btn-primary" (click)="saveName(dedicatedBrand)" [disabled]="updatingName">Save Name</button>
              <button class="btn btn-danger" (click)="editingBrandId = ''">Cancel</button>
            </div>
          }
        </div>
      </div>
    </div>
  }

  @if (!dedicatedBrand) {
    <button class="btn btn-warning" (click)="prepNewDialog(true)">Create Dedicated Brand Account</button>
  }
  <button class="btn btn-primary" (click)="prepNewDialog(false)">Create Brand Account</button>

  <hr>

    @for (brand of aus.ownedAccounts; track brand) {
      <div appElementItem>
        @if (brand.id != dedicatedBrand?.id) {
          <div class="brand-container">
            <div class="brand-profile-side">
              <div class="brand-profile-holder">
                <img [src]="baseUrlImage + 'Images/profile/Brand-' + brand.id" (error)="imageError($event)">
              </div>
              <button class="btn btn-primary" style="margin-top: 10px;" (click)="prepareBrandProfile(brand)">Set Profile Pic</button>
            </div>
            <div class="vertical-stick"></div>
            <div class="brand-details-side">
              @if (editingBrandId != brand?.id) {
                <div>
                  <p><b>Name: </b>{{ brand.name }}</p>
                  <button class="btn btn-primary" (click)="editingBrandId = brand?.id; editingBrandName = brand.name || ''">Edit Name</button>
                </div>
              }
              @if (editingBrandId && editingBrandId == brand?.id) {
                <div class="form-group">
                  <label class="form-label">Name</label>
                  <input class="form-control" [(ngModel)]="editingBrandName">
                  <button class="btn btn-primary" (click)="saveName(brand)" [disabled]="updatingName">Save Name</button>
                  <button class="btn btn-danger" (click)="editingBrandId = ''">Cancel</button>
                </div>
              }
            </div>
          </div>
        }
      </div>
    }

  </div>

  <app-image-gallery-v2
    #imgGalleryBrand
    [baseUrl]="baseUrlImage"
    [show]="showGallery"
    (onClose)="showGallery = false"
    [purpose]="imagePurpose"
    [mbLimit]="4"
  ></app-image-gallery-v2>

  @if (showNewDialog) {
    <app-popup (onClose)="showNewDialog = false;">
      <div appElementContainer class="form">
        <div appElementItem class="form-group">
          <label for="newBrandName" class="form-label">Name</label>
          <input id="newBrandName" class="form-control" [(ngModel)]="newName">
        </div>
        <div class="form-group" appElementItem>
          <label class="form-check-label">Make Dedicated</label>
          <input #makeDedCheck type="checkbox" class="form-check-input" (change)="updateDedicatedField($event)" [disabled]="dedicatedBrand" [value]="makeDedicated">
          @if (dedicatedBrand) {
            <p class="text-danger">You Already have a dedicated Brand Account</p>
          }
        </div>
        <button class="btn btn-primary" (click)="submitNewBrandAccount()" [disabled]="makingNewAccount">Create Brand Account</button>
      </div>
    </app-popup>
  }