<lib-up-slider style="height: 100%; display:block" [useHeight]="'100%'" [isActive]="show" (onClose)="currentImage = undefined; onClose.emit()">

    <div style="display: flex; flex-direction: column; height: calc(100vh - 37px);">
        <div class="element-container" [ngClass]="'element-container-' + ss.style">
            <input style="display: none" type="file" (change)="imageFromDevice($event)" accept="image/png, image/gif, image/jpeg, image/webp, image/svg" #imageInput>
            <button class="btn btn-info" (click)="imageInput.click()">Image From Device</button>
            <h3>Albums</h3>
            <p *ngIf="addedAlbum" class="text-danger">Note: Newly created album will not be saved until an image is assigned to it</p>
            <div class="album-collection">
                <div class="album-container" style="margin-right: 10px;" (click)="onAddAlbum()">
                    <img src="assets/plus.png">
                    <span>Add Album</span>
                </div>
                <div class="album-container" *ngFor="let album of albumList" (click)="onSelectAlbum(album)">
                    <img [src]="getAlbumImage(album)">
                    <span>{{ album }}</span>
                    <div *ngIf="album != filterBy" class="album-cover"></div>
                </div>        
            </div>

        </div>


        <div class="image-gallery-holder">
            <div class="image-gallery" [@imageGalShow]="showImages ? 'expanded' : 'collapse'">
                <div class="image-holder" *ngFor="let image of imageEntries|imageAlbumFilter:filterBy" (click)="onImageClick(image)">
                    <img [src]="image.src" [ngClass]="image.record.deleteOn ? 'delete-img-holder' : ''">
                    <p *ngIf="image.record.name" class="image-name">{{ image.record.name }}</p>
                    <p *ngIf="image.record.deleteOn" class="delete-mark">Marked for Deletion</p>
                </div>
            </div>
        </div>        
    </div>


    <lib-up-slider [zIndex]="20" [isActive]="currentImage !== undefined" (onClose)="currentImage = undefined">
        <div class="current-image">
            <div class="current-image-holder">
                <img #selectedImg [src]="currentImage?.src">

                <div *ngIf="isCropping" class="crop-shades" style="top: 0; width: 100%" [ngStyle]="{'height.px': squarePosition.top}"></div>
                <div *ngIf="isCropping" class="crop-shades" style="bottom: 0; width: 100%" [ngStyle]="{'top.px': squarePosition.top + squareSize}"></div>
                <div *ngIf="isCropping" class="crop-shades" style="top: 0; left: 0; height: 100%" [ngStyle]="{'width.px': squarePosition.left}"></div>
                <div *ngIf="isCropping" class="crop-shades" style="top: 0; right: 0; height: 100%" [ngStyle]="{'left.px': squarePosition.left + squareSize}"></div>
                <div *ngIf="isCropping" class="crop-borders" 
                    (mousemove)="onMoveCropBorders($event)"
                    (mousedown)="onDragMouseDown($event)"
                    [ngStyle]="{'left.px': squarePosition.left, 'top.px': squarePosition.top, 'width.px' : squareSize, 'height.px' : squareSize}">
    
                    <div class="crop-resizer" (mousedown)="onResizeStart($event)" (mousemove)="onResizeMove($event)"></div>
                </div>
            </div>

            <div 
                class="current-image-dashboard form element-container"
                [ngClass]="'element-container-' + ss.style"
                *ngIf="currentImage">
                <div class="form-group element-item" [ngClass]="'element-item-'+ss.style">
                    <label class="form-label">Name</label>
                    <input class="form-control" [(ngModel)]="currentImage.record.name">
                    <button class="btn btn-primary" *ngIf="currentImage.record.id">Update Name</button>
                </div>
                <div class="form-group element-item" [ngClass]="'element-item-'+ss.style" *ngIf="!currentImage.record.id">
                    <label class="form-label">Upload Mode</label>
                    <select class="form-select" [(ngModel)]="currentUploadMode">
                        <option *ngFor="let uploadOption of uploadModes" [ngValue]="uploadOption">{{uploadOption.modeName}}</option>
                    </select>
                    <P>{{ currentUploadMode.modeExplaination }}</P>
                </div>
                <div class="form-group element-item" [ngClass]="'element-item-'+ss.style" *ngIf="currentImage.record.id">
                    <label class="form-label">Image Visibility</label>
                    <select class="form-select" [(ngModel)]="targetVisibility">
                        <option 
                            *ngFor="let visOption of visibilityModes | imageVisibilityFilter:currentImage.record" 
                            [ngValue]="visOption.option">{{visOption.optionName}}</option>
                    </select>
                    <p>{{visibilityModes[targetVisibility].optionExplaination}}</p>
                    <button class="btn btn-primary" (click)="updateVisibility()" *ngIf="currentVisibility != targetVisibility">Update Visibility</button>
                </div>
                <div class="form-group element-item" [ngClass]="'element-item-'+ss.style">
                    <input type="checkbox" class="form-check-input"  [(ngModel)]="isCropping" (change)="onCropCheck()">
                    <label class="form-check-label">Use Crop</label>
                    
                    <button class="btn btn-submit btn-primary" *ngIf="cropChanged && currentImage.record.id" (click)="onUpdateCrop()">Update Cropping</button>
                    <p *ngIf="isCropping">{{ `${squarePosition.left},${squarePosition.top},${squarePosition.left + squareSize},${squarePosition.top + squareSize}` }}</p>
                </div>
                <div class="form-group element-item" [ngClass]="'element-item-'+ss.style" *ngIf="albumList.items.length">
                    <label class="form-label">Album</label>
                    <select class="form-select" [(ngModel)]="currentImage.record.album" (change)="albumChanged = true">
                        <option [value]="undefined">(None)</option>
                        <option *ngFor="let album of albumList" [value]="[album]">{{album}}</option>
                    </select>
                    <button class="btn btn-primary" *ngIf="currentImage.record.id && albumChanged" (click)="onAssignAlbum()">Update Album</button>
                </div>
                <div class="form-group element-item" [ngClass]="'element-item-'+ss.style">
                    <p>Stats</p>
                    <p><b>Width: </b> {{currentImage.record.width}}</p>
                    <p><b>Height: </b> {{currentImage.record.height}}</p>
                    <p><b>Type: </b> {{currentImage.record.type}}</p>
                </div>
                <hr>
                <div class="form-group element-item" [ngClass]="'element-item-'+ss.style">
                    <button *ngIf="purpose != defaultPurpose && currentImage.record.id" (click)="selectImage()" class="btn btn-info">Select Image</button>
                    <button *ngIf="!currentImage.record.id" (click)="commenceImageUpload()" class="btn btn-primary">Upload Image</button>
                    <button 
                        class="btn" 
                        [ngClass]="currentImage.record.deleteOn ? 'btn-white' : 'btn-danger'" 
                        (click)="onDeleteCall()">
                        {{ currentImage.record.deleteOn ? 'Cancel Deletion' : 'Delete' }}
                    </button>
                </div>
            </div>

        </div>
    </lib-up-slider>



</lib-up-slider>