<lib-up-slider style="height: 100%; display:block" [useHeight]="'100%'" [isActive]="show" (onClose)="currentImage = undefined; onClose.emit()">

    <div style="display: flex; flex-direction: column; height: calc(100vh - 37px);">
        <div class="element-container" [ngClass]="'element-container-' + ss.style">
            <h3>Albums</h3>
            <p *ngIf="addedAlbum" class="text-danger">Note: Newly created album will not be saved until an image is assigned to it</p>
            <div class="album-collection">
                <div class="album-container" style="margin-right: 10px;" (click)="onAddAlbum()">
                    <img src="assets/plus.png">
                    <span>Add Album</span>
                </div>
                <div class="album-container" *ngFor="let album of albumList" (click)="onSelectAlbum(album)">
                    <img [src]="getAlbumImage(album)">
                    <span>{{ album }}</span>
                    <div *ngIf="album != filterBy" class="album-cover"></div>
                </div>        
            </div>

        </div>


        <div class="image-gallery-holder">
            <div class="image-gallery" [@imageGalShow]="showImages ? 'expanded' : 'collapse'">
                <div class="image-holder" *ngFor="let image of imageEntries|imageAlbumFilter:filterBy" (click)="onImageClick(image)">
                    <img [src]="image.src">
                    <p *ngIf="image.record.name">{{ image.record.name }}</p>
                </div>
            </div>
        </div>        
    </div>


    <lib-up-slider [isActive]="currentImage !== undefined" (onClose)="currentImage = undefined">
        <div class="current-image">
            <div class="current-image-holder">
                <img #selectedImg [src]="currentImage?.src">

                <div *ngIf="isCropping" class="crop-shades" style="top: 0; width: 100%" [ngStyle]="{'height.px': squarePosition.top}"></div>
                <div *ngIf="isCropping" class="crop-shades" style="bottom: 0; width: 100%" [ngStyle]="{'top.px': squarePosition.top + squareSize}"></div>
                <div *ngIf="isCropping" class="crop-shades" style="top: 0; left: 0; height: 100%" [ngStyle]="{'width.px': squarePosition.left}"></div>
                <div *ngIf="isCropping" class="crop-shades" style="top: 0; right: 0; height: 100%" [ngStyle]="{'left.px': squarePosition.left + squareSize}"></div>
                <div *ngIf="isCropping" class="crop-borders" 
                    (mousemove)="onMoveCropBorders($event)"
                    (mousedown)="onDragMouseDown($event)"
                    [ngStyle]="{'left.px': squarePosition.left, 'top.px': squarePosition.top, 'width.px' : squareSize, 'height.px' : squareSize}">
    
                    <div class="crop-resizer" (mousedown)="onResizeStart($event)" (mousemove)="onResizeMove($event)"></div>
                </div>
            </div>

            <div class="current-image-dashboard form" *ngIf="currentImage">
                <div class="form-group">
                    <label class="form-label">Name</label>
                    <input class="form-control" [(ngModel)]="currentImage.record.name">
                    <button class="btn btn-primary" *ngIf="currentImage.record.id">Update Name</button>
                </div>
                <div class="form-group" *ngIf="!currentImage.record.id">
                    <label class="form-label">Upload Mode</label>
                    <select class="form-select" [(ngModel)]="currentUploadMode">
                        <option *ngFor="let uploadOption of uploadModes" [value]="uploadOption">{{uploadOption.modeName}}</option>
                    </select>
                    <P>{{ currentUploadMode.modeExplaination }}</P>
                </div>
                <div class="form-group">
                    <input type="checkbox" class="form-check-input"  [(ngModel)]="isCropping" (change)="onCropCheck()">
                    <label class="form-check-label">Use Crop</label>
                    
                    <button class="btn btn-submit btn-primary" *ngIf="cropChanged && currentImage.record.id" (click)="onUpdateCrop()">Update Cropping</button>
                    <p *ngIf="isCropping">{{ `${squarePosition.left},${squarePosition.top},${squarePosition.left + squareSize},${squarePosition.top + squareSize}` }}</p>
                </div>
                <div class="form-group" *ngIf="albumList.items.length">
                    <label class="form-label">Album</label>
                    <select class="form-select" [(ngModel)]="currentImage.record.album">
                        <option [value]="undefined">(None)</option>
                        <option *ngFor="let album of albumList" [value]="[album]">{{album}}</option>
                    </select>
                    <button class="btn btn-primary" *ngIf="currentImage.record.id">Update Album</button>
                </div>
                <div class="form-group">
                    <p>Stats</p>
                    <p><b>Width: </b> {{currentImage.record.width}}</p>
                    <p><b>Height: </b> {{currentImage.record.height}}</p>
                    <p><b>Type: </b> {{currentImage.record.type}}</p>
                </div>
                <hr>
                <div class="form-group">
                    <button *ngIf="purpose != defaultPurpose && currentImage.record.id" (click)="selectImage()">Select Image</button>
                    <button *ngIf="!currentImage.record.id" (click)="commenceImageUpload()">Upload Image</button>
                </div>
            </div>

        </div>
    </lib-up-slider>



</lib-up-slider>